@page
@model azure_app_achref.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment slots page";
}
<div class="text-center">
    <h1 class="display-4">Testing deployment slots</h1>
    

    <h3> @ViewData["Greeting"]</h3>

    <h1 style="color: cadetblue">Validating the deployment slots feature</h1>
   
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        color: #333;
    }

</style>
